body{
  font-family: Helvetica;
  text-align: center;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.navigation{
  background-image: url(../the-flatiron-building.png);
  background-size: cover;
}
ul{
  font-size: 18px;
  color: white;
  cursor: auto;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  list-style: none;
  line-height: 2;
}
a{
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
#ny{
  color: white;
  background-image: url(../the-flatiron-building.png);
  background-size: cover;
}
#contact{
  line-height: 2;
}
.footer{
  background-color: dimgray;
  background-size: cover;
}
#copyrite{
  font-size: 11px;
  text-align: left;
  color: white;
}
.footerlinks{
  font-size: 18px;
  color: white;
  font-weight: bold;
}
